<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CaX</title>
    <% for (const css of htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= css %>" />
    <% } %>
    <% for (const js of htmlWebpackPlugin.files.js) { %>
    <script src="<%= js %>" defer></script>
    <% } %>
  </head>
  <body class="bg-cax-canvas text-cax-text">
    <div id="app"></div>
  </body>
</html>
